:root {
    --color-warmBlue:rgb(11, 95, 187);
    --color-coldRed:rgb(183, 70, 70);
    --color-coldBlue:rgb(7, 39, 72);
    --color-white:#fff;
    --color-0d49d7:#0d49d7;
    --color-d3cdcd:#d3cdcd;
    --color-0a4172: #0a4172;
    --color-warmRed:rgb(197, 15, 15);
    --color-093823:#093823;
    --color-797470:#797470;
}

body {
    background: var( --color-warmBlue);
    font-size: 16px;
    font-family: Rubik, Roboto, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: var(--color-coldRed);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    border: none;
    background: none;
    outline: none;
    color: var( --color-warmBlue);
    font-size: 16px;
    font-family: Rubik, Roboto, sans-serif;
}

a {
    color: var( --color-coldBlue);
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1240px;
    margin: 0 auto;
    min-height: 100vh;
}