.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    padding: 15px 0;
}

.header {
    width: 100%;
    color: var(--color-white);
    background: var(--color-0a4172);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.left {
    background: var(--color-warmRed);
    border-radius: 6px;
    font-size: 14px;
    padding: 10px;
    color: var(--color-white);
    cursor: pointer;
}

.form {
    color: var(--color-white);
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--color-0a4172);
    justify-content: space-between;
    height: 150px;
    padding: 0 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.input {
    flex-grow: 1;
    height: 100%;
}

.input input {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
}

.button {
    text-align: center;
}

.button input {
    cursor: pointer;
    color: var(--color-white);
}

.messages {
    overflow: auto;
    height: calc(100% + 100px);
    flex-grow: 1;
    width: 100%;
    color: var(--color-white);
    font-size: 18px;
    background: var(--color-coldBlue);
    padding: 32px;
}
.messages::-webkit-scrollbar {
    width: 7px;
}

.messages::-webkit-scrollbar-thumb {
    background: var(--color-0a4172);
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background: var(--color-0a4172);
}

.emoji {
    width: 40px;
    cursor: pointer;
    position: relative;
}

.emoji img {
    vertical-align: middle;
}

.emojies {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
}